<div class=" text-center container">
  <br>
  <br>
  <div class="form-group">
    <h3>המיקום שלי</h3>
    <input type="text" placeholder="המיקום שלי" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control"
       #search>
    <button (click)="send()">שלח</button>
  </div>
  <table class="table" *ngIf="IsClientCLickesSend">
    <thead>
      <tr>
        <th>שם הרשת</th>
        <th>סניף</th>
        <th>קילמוטר מהיעד שנבחר</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arNewFoodChains | orderBy : 'item.Distance' ">
        <td>{{item.FoodChain}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Distance}}</td>
      </tr>
    </tbody>
  </table>
</div>
